In [1]:
import os

os.chdir('C:/대학원/2019-1/1.전공/2.데이터마이닝/project/도로/result')
os.getcwd()

'C:\\대학원\\2019-1\\1.전공\\2.데이터마이닝\\project\\도로\\result'

In [2]:
import pandas as pd

doro_id = pd.read_csv('doro_total.csv',encoding='utf8')
weather = pd.read_csv('weather_merged.csv')
doro02 = pd.read_csv('doro02.csv')
doro05 = pd.read_csv('doro05.csv')
doro08 = pd.read_csv('doro08.csv')
doro11 = pd.read_csv('doro11.csv')

In [22]:
doro_id.head(5)

,도로명,링크아이디,시점명,종점명,방향,CCTV,어린이,노인,장애인,생활도로,제한속도,진출입구,신호기
0,문래로,1180021600,문래중교,영문초교,상행,0.0,1.0,0.0,0.0,0.0,30.0,21.0,30.0
1,문래로,1180021200,영문초교,문래역,상행,0.0,1.0,0.0,0.0,0.0,30.0,21.0,30.0
2,문래로,1180019600,문래역,영남교회,상행,0.0,0.0,0.0,0.0,0.0,30.0,21.0,30.0
3,문래로,1180018800,영남교회,신세계백화점영등포점,상행,0.0,0.0,0.0,0.0,0.0,30.0,21.0,30.0
4,문래로,1180018900,신세계백화점영등포점,영남교회,하행,0.0,0.0,0.0,0.0,0.0,30.0,21.0,30.0

In [3]:
weather.head(5)

,지점,일시,temperature,wind,rain,일자,district,id,time,snow
0,400,2018-01-01 00:00:00,-0.7,1.1,0.0,2018-01-01,강남구,400,0,0.0
1,400,2018-01-01 01:00:00,-0.9,0.9,0.0,2018-01-01,강남구,400,1,0.0
2,400,2018-01-01 02:00:00,-1.0,1.1,0.0,2018-01-01,강남구,400,2,0.0
3,400,2018-01-01 03:00:00,-1.1,1.5,0.0,2018-01-01,강남구,400,3,0.0
4,400,2018-01-01 04:00:00,-1.1,1.8,0.0,2018-01-01,강남구,400,4,0.0

In [28]:
doro02.head(5)

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,01시,02시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,20180201,목,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,47.66,29.79,...,42.87,38.06,58.18,51.15,36.77,41.63,33.90,52.31,47.89,54.25
1,20180201,목,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,17.86,23.72,...,12.49,14.42,14.26,12.57,11.66,13.80,13.62,17.99,13.74,15.71
2,20180201,목,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,25.57,32.28,...,20.79,20.07,22.76,22.36,22.68,20.50,23.50,21.67,23.06,24.99
3,20180201,목,4.19로,1080012100,국립4.19묘지,아카데미하우스,하행,1190,49.24,41.55,...,44.20,44.69,63.16,62.00,48.49,51.04,46.74,50.07,51.82,40.22
4,20180201,목,가락로,1230024700,방이초교,방이동고분군,상행,844,21.26,22.34,...,16.22,12.17,14.56,14.13,12.95,13.22,18.95,15.92,17.51,22.61

In [25]:
doro05.head(5)

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,기능유형구분,도심/외곽구분,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,20180501,화,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,보조간선도로,외곽,...,44.80,38.74,54.17,47.62,34.24,38.76,31.56,48.70,44.58,50.87
1,20180501,화,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,보조간선도로,외곽,...,6.91,7.49,10.49,13.12,12.55,14.50,14.19,15.17,15.81,15.95
2,20180501,화,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,보조간선도로,외곽,...,17.63,17.90,18.88,18.99,18.51,19.04,19.33,18.72,20.74,22.13
3,20180501,화,4.19로,1080012100,국립4.19묘지,아카데미하우스,하행,1190,보조간선도로,외곽,...,43.59,44.07,62.28,61.14,47.81,50.33,46.09,49.38,51.10,39.82
4,20180501,화,가락로,1230024700,방이초교,방이동고분군,상행,844,기타도로,외곽,...,18.18,13.94,15.34,15.67,12.00,15.97,16.86,17.06,18.10,20.05

In [29]:
doro08.head(5)

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,20180801,수,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1.0,보조간선도로,...,40.61,36.05,55.11,48.44,34.82,39.43,32.10,49.54,45.35,51.92
1,20180801,수,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1.0,보조간선도로,...,14.11,14.37,16.58,15.05,10.17,11.58,13.11,12.93,14.75,16.00
2,20180801,수,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,2.0,보조간선도로,...,20.07,19.68,19.57,21.08,21.30,20.00,20.92,20.56,20.43,23.57
3,20180801,수,4.19로,1080012100,국립4.19묘지,아카데미하우스,하행,1190,2.0,보조간선도로,...,44.16,44.64,63.09,61.94,48.44,50.99,46.69,50.03,51.77,40.29
4,20180801,수,가락로,1230024700,방이초교,방이동고분군,상행,844,1.0,기타도로,...,15.46,16.50,22.59,19.25,14.01,13.02,17.53,17.98,17.58,20.92

In [31]:
doro11.head(5)
#['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','time','value']

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,20181101,목,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1,보조간선도로,...,42.87,38.06,58.18,51.15,36.77,41.63,33.90,52.31,51.84,54.25
1,20181101,목,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,...,5.96,7.49,11.64,13.27,10.35,13.73,13.11,15.42,14.91,19.90
2,20181101,목,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,2,보조간선도로,...,13.58,13.54,17.51,19.93,17.55,19.79,20.43,21.88,22.94,24.86
3,20181101,목,4.19로,1080012100,국립4.19묘지,아카데미하우스,하행,1190,2,보조간선도로,...,44.20,44.69,63.16,62.00,48.49,51.04,46.74,50.07,51.82,40.22
4,20181101,목,가락로,1230024700,방이초교,방이동고분군,상행,844,1,기타도로,...,17.18,20.00,16.83,13.99,13.38,14.21,16.91,19.01,24.03,19.48