In [7]:
import os

os.chdir('C:/대학원/2019-1/1.전공/2.데이터마이닝/project/도로/result')
os.getcwd()

'C:\\대학원\\2019-1\\1.전공\\2.데이터마이닝\\project\\도로\\result'

In [34]:
import pandas as pd
import numpy as np

doro_id = pd.read_csv('doro_total.csv',encoding='utf8')
weather = pd.read_csv('weather_merged.csv')
car2 = pd.read_csv('doro02.csv')
car5 = pd.read_csv('doro05.csv')
car8 = pd.read_csv('doro08.csv')
car11 = pd.read_csv('doro11.csv')
car3 = pd.read_csv('doro03.csv')
car6 = pd.read_csv('doro06.csv')

In [35]:
print(len(car2.columns))
print(len(car5.columns))
print(len(car8.columns))
print(len(car11.columns))
print(len(car3.columns))
print(len(car6.columns))

32
35
36
36
32
35

## 1. 시간 설정
- 오전 11시 ~ 오후 11시(23시)

In [36]:
drop_col = ['01시', '02시', '03시', '04시', '05시', '06시','07시','08시','09시','10시','11시', '24시']
car2.drop(drop_col, axis=1, inplace=True)
car5.drop(drop_col, axis=1, inplace=True)
car8.drop(drop_col, axis=1, inplace=True)
car11.drop(drop_col, axis=1, inplace=True)
car6.drop(drop_col, axis=1, inplace=True)
car3.drop(drop_col, axis=1, inplace=True)

In [37]:
car3.head(2)

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,12시,13시,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20180301,목,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,42.37,47.96,38.14,42.87,38.06,58.18,51.15,36.77,41.63,33.90,52.31,47.89
1,20180301,목,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,15.65,14.48,9.71,10.84,12.05,13.41,12.84,14.27,13.19,12.92,16.31,17.11

In [12]:
car6.head(2)

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,기능유형구분,도심/외곽구분,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20180601,금,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,보조간선도로,외곽,...,35.69,40.12,35.62,54.45,47.86,34.41,38.96,31.72,48.95,44.81
1,20180601,금,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,보조간선도로,외곽,...,12.61,8.02,10.43,12.66,11.46,8.89,12.55,14.08,13.61,13.73

In [30]:
car3.head(2)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,t12,t13,...,t19,t20,t21,t22,t23,road_num_x,road_num_y,road_type,urban_suburb,district
0,20180301,목,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,15.65,14.48,...,14.27,13.19,12.92,16.31,17.11,1,1,보조간선도로,외곽,강북구
1,20180302,금,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,12.43,12.39,...,14.01,13.43,12.89,13.89,16.18,1,1,보조간선도로,외곽,강북구

In [38]:
car2.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car5.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_type','urban_suburb','district','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car8.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car11.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_num','road_type','urban_suburb','district','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car3.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
car6.columns = ['date','days','road_name','link_id','start_point','end_point','direction','road_length','road_type','urban_suburb','district','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']

In [15]:
car6.head(1)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_type,urban_suburb,...,t14,t15,t16,t17,t18,t19,t20,t21,t22,t23
0,20180601,금,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,보조간선도로,외곽,...,35.69,40.12,35.62,54.45,47.86,34.41,38.96,31.72,48.95,44.81

## 2. 공통값 도로 제거 & 공통 링크 id 추출

In [16]:
car2.columns

Index(['date', 'days', 'road_name', 'link_id', 'start_point', 'end_point',
       'direction', 'road_length', 't12', 't13', 't14', 't15', 't16', 't17',
       't18', 't19', 't20', 't21', 't22', 't23'],
      dtype='object')

In [39]:
dupli_col = ['link_id','t12','t13','t14','t15','t16','t17','t18','t19','t20','t21','t22','t23']
print('original 2 :',car2.shape)
car2 = car2.drop_duplicates(dupli_col,keep=False)
print('after remove :',car2.shape)
print('original 3 :',car3.shape)
car3 = car3.drop_duplicates(dupli_col,keep=False)
print('after remove :',car3.shape)
print('original 5 :',car5.shape)
car5 = car5.drop_duplicates(dupli_col,keep=False)
print('after remove :',car5.shape)
print('original 6 :',car6.shape)
car6 = car6.drop_duplicates(dupli_col,keep=False)
print('after remove :',car6.shape)
print('original 8 :',car8.shape)
car8 = car8.drop_duplicates(dupli_col,keep=False)
print('after remove :',car8.shape)
print('original 11 :',car11.shape)
car11 = car11.drop_duplicates(dupli_col,keep=False)
print('after remove :',car11.shape)

original 2 : (133153, 20)
after remove : (131416, 20)
original 3 : (147478, 20)
after remove : (145998, 20)
original 5 : (146522, 23)
after remove : (145160, 23)
original 6 : (141801, 23)
after remove : (140575, 23)
original 8 : (146070, 24)
after remove : (145482, 24)
original 11 : (141930, 24)
after remove : (140705, 24)

In [40]:
common_obs = list(set(car2.link_id) & set(car3.link_id) & set(car5.link_id) & set(car6.link_id) & set(car8.link_id) & set(car11.link_id))
print('공통 링크아이디 수 :',len(common_obs))

공통 링크아이디 수 : 4699

In [41]:
car2 = car2[car2['link_id'].isin(common_obs)]
car3 = car3[car3['link_id'].isin(common_obs)]
car5 = car5[car5['link_id'].isin(common_obs)]
car6 = car6[car6['link_id'].isin(common_obs)]
car8 = car8[car8['link_id'].isin(common_obs)]
car11 = car11[car11['link_id'].isin(common_obs)]

In [42]:
car11.columns

Index(['date', 'days', 'road_name', 'link_id', 'start_point', 'end_point',
       'direction', 'road_length', 'road_num', 'road_type', 'urban_suburb',
       'district', 't12', 't13', 't14', 't15', 't16', 't17', 't18', 't19',
       't20', 't21', 't22', 't23'],
      dtype='object')

In [43]:
car3.columns

Index(['date', 'days', 'road_name', 'link_id', 'start_point', 'end_point',
       'direction', 'road_length', 't12', 't13', 't14', 't15', 't16', 't17',
       't18', 't19', 't20', 't21', 't22', 't23'],
      dtype='object')

In [44]:
merge_col = car11[['link_id','road_num', 'road_type','urban_suburb', 'district']]
merge_col = merge_col.drop_duplicates(['link_id'], keep='first')

car2 = pd.merge(car2,merge_col,on='link_id')
car2 = car2[car11.columns]
car3 = pd.merge(car3,merge_col,on='link_id')
car3 = car3[car11.columns]
car5 = pd.merge(car5,merge_col[['link_id','road_num']],on='link_id')
car5 = car5[car11.columns]
car6 = pd.merge(car6,merge_col[['link_id','road_num']],on='link_id')
car6 = car6[car11.columns]

In [45]:
car2.head(1)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,...,t14,t15,t16,t17,t18,t19,t20,t21,t22,t23
0,20180201,목,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,...,12.11,12.49,14.42,14.26,12.57,11.66,13.8,13.62,17.99,13.74

In [46]:
car3.head(1)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,...,t14,t15,t16,t17,t18,t19,t20,t21,t22,t23
0,20180301,목,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,...,9.71,10.84,12.05,13.41,12.84,14.27,13.19,12.92,16.31,17.11

In [49]:
pd.set_option('display.max_columns', 500)
car11.head(1)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,urban_suburb,district,t12,t13,t14,t15,t16,t17,t18,t19,t20,t21,t22,t23
1,20181101,목,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,1,보조간선도로,외곽,강북구,20.33,16.67,11.98,5.96,7.49,11.64,13.27,10.35,13.73,13.11,15.42,14.91

## 3. 구 설정
- 서서울(서대문구, 마포구, 은평구)

In [48]:
car2.columns

Index(['date', 'days', 'road_name', 'link_id', 'start_point', 'end_point',
       'direction', 'road_length', 'road_num', 'road_type', 'urban_suburb',
       'district', 't12', 't13', 't14', 't15', 't16', 't17', 't18', 't19',
       't20', 't21', 't22', 't23'],
      dtype='object')

In [50]:
car2 = car2[car2['district'].isin(['서대문구','마포구','은평구'])]
car3 = car3[car3['district'].isin(['서대문구','마포구','은평구'])]
car5 = car5[car5['district'].isin(['서대문구','마포구','은평구'])]
car6 = car6[car6['district'].isin(['서대문구','마포구','은평구'])]
car8 = car8[car8['district'].isin(['서대문구','마포구','은평구'])]
car11 = car11[car11['district'].isin(['서대문구','마포구','은평구'])]

In [52]:
common_obs = list(set(car2.link_id) & set(car3.link_id) & set(car5.link_id) & set(car6.link_id) & set(car8.link_id) & set(car11.link_id))
print('공통 링크아이디 수 :',len(common_obs))

공통 링크아이디 수 : 506

## 4. car data를 long form으로 만들기(melt)

In [53]:
print(list(car2.columns[:12]))

['date', 'days', 'road_name', 'link_id', 'start_point', 'end_point', 'direction', 'road_length', 'road_num', 'road_type', 'urban_suburb', 'district']

In [54]:
melt_col = list(car2.columns[:12])
car2 = pd.melt(car2, id_vars = melt_col)
car3 = pd.melt(car3, id_vars = melt_col)
car5 = pd.melt(car5, id_vars = melt_col)
car6 = pd.melt(car6, id_vars = melt_col)
car8 = pd.melt(car8, id_vars = melt_col)
car11 = pd.melt(car11, id_vars = melt_col)

In [55]:
car2.head(3)

,date,days,road_name,link_id,start_point,end_point,direction,road_length,road_num,road_type,urban_suburb,district,variable,value
0,20180201,목,가양대로,1130029700,수색교,DMC첨단산업센터,상행,344,4,기타도로,외곽,은평구,t12,26.05
1,20180202,금,가양대로,1130029700,수색교,DMC첨단산업센터,상행,344,4,기타도로,외곽,은평구,t12,24.66
2,20180203,토,가양대로,1130029700,수색교,DMC첨단산업센터,상행,344,4,기타도로,외곽,은평구,t12,24.91